@import '../../../common.styl'

.screen
  background white

.screenWrapper
  position absolute
  left 84px
  top 0px
  width calc(100% - 84px)
  padding 40px
  background-color #f5f5fa

.table
  background-color #fff

.head
  background-color: #fff

.row
  background-color: #fff

.body
  background-color: #fff

.pagination
  background-color: #fff
