@import '../../../common.styl'

.screenWrapper
  padding 28px
  position absolute
  left 84px
  top 0px
  width calc(100% - 84px)

.screen
  background white
  coolScrollbar()


.items
  display block
  padding: 10px
